<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanqu.common.dao.demo.UserMapper">
	<insert id="insert" parameterType="UserModel">
		INSERT INTO
		`testtable`
		(`id`,
		`username`,
		`password`,
		`score`)
		VALUES
		(
		#{id},
		#{username},
		#{password},
		#{score}
		);
	</insert>

	<insert id="insert2" parameterType="UserModel">
		INSERT INTO
		`testtable2`
		(
		`username`,
		`password`,
		`score`)
		VALUES
		(
		#{username},
		#{password},
		#{score}
		);
	</insert>
</mapper>